.current-container {
    display: flex;
    flex-direction: column;
    margin: 25px auto 25px auto;
    width: 80vw;
    gap: 15px;
}

.item-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.item-container > .item-title {
    width: 70px;
    color: #CBCBCB;
}

.item-container > .item-desc {
    width: 100px;
    text-align: left;
}

.item-container > div {
    font-size: 25px;
    color: #12355B;
}